{% extends "base.html" %}
{% block content %}
    <div class="ui hidden divider"></div>
     <div class="ui container" style="margin-bottom: 5px">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui menu" style="background-color: inherit">
              <a class="ui left floated browse item" style="background-color: black">
                  <i class="inverted bars icon"></i>
              </a>
              <div class="ui popup bottom left transition hidden" style="inset: 564.15px auto auto 1px; width: 200px;">
                <div class="ui secondary vertical pointing menu">
                  <a class="centered active item">
                    Home <i class="home icon"></i>
                  </a>
                  {% if user.is_authenticated %}
                  <a class="item" href="{% url 'dashboards:user_dashboard' %}">
                    My profile <i class="user circle icon"></i>
                  </a>
                    <div class="ui hidden divider"></div>
                  <a class="item" style="color: orangered" href="{% url 'logout' %}">
                    Log Out  <i class="sign-out alternate icon"></i>
                  </a>
                  {% endif %}
                </div>
              </div>
              <div class="ui right floated category search item" style="background-color: white">
                <form action="{% url 'the_collection:search-posts' %}" method="GET" value="{{request.GET.q}} " style="margin: 0">
                <div class="ui transparent icon input">
                  <input type="text" class="prompt" name="q" value="{{request.GET.q}}"  placeholder="Search books..."/>
                  <button class="circular ui icon button" style="background-color: inherit" type="submit" name="submit" value="Search">
                      <i class="search link icon"></i>
                  </button>
                </div>
                </form>


              </div>

            </div>
            <div class="ui hidden divider" style="margin-bottom: 2px"></div>
        </div>
    </div>
    <div class="ui container">
    <div class="ui fluid container" style="background-color: black; padding: 5px 5px 5px 5px !important; margin:0">
    <div class="ui four column stackable center aligned grid" style="padding: 5px 5px 5px 5px !important; margin-top: 5px">
        {% for book in books %}

            <div class="ui center aligned column">
            <div class="ui item" style="margin: 10px 0px 10px 0px;">
              <div class="image" style="margin-bottom: 2px">
                <div class="dmt"
                     data-img="{{ book.cover.url }}"
                     data-title="{{ book.book_name }}"
                     data-author="{{ book.author }}"
                     data-publisher="{{ book.publisher }}"
                     data-isbn="{{ book.ISBN }}"
                     data-subject="{{ book.subject }}"
                     data-language="{{ book.language }}"
                     data-pages="{{ book.number_of_pages }}"
                     data-format="{{ book.get_book_format_display }}"
                     data-status="{{ book.get_book_status_display }}"
                     data-copies="{{ book.copies_available}}"
                     data-number="{{ book.borrowed.borrowed_by.profile.phone_number }}"
                     data-book = "{{ book.id }}"
                >
                    <img src="{{ book.cover.url }}" class="img-responsive" style="height:200px; max-width:400px;">
                </div>
              </div>
              <div class="content">
                <a class="header" style="color: #cdd422">{{book.book_name}}</a>
                <div class="meta">
                  <span class="date" style="color: white">{{book.author}}</span>
                </div>
                <div class="description">
                </div>
              </div>
              <div class="extra content">
                <a>
                </a>
              </div>
            </div>
            </div>



        {% endfor %}
        <div class="ui modal" >
              <i class="close icon"></i>
              <div class="header">
                Book Cover
              </div>
              <div class="image content">
                <div class="ui medium image">
                  <img id="book-img"  src="" class="img-responsive" style="height:200px; max-width:400px;">
                </div>
                <div class="description">
                  <div class="ui header" >
                      <h3 id="book-name" style="color: #cdd422"></h3>
                  </div>
                  <div class="ui two column grid">
                    <div class="ui column">
                    <p style="color:#0276FD">Author: <span id="book-author" style="color:black"></span></p>
                    <p style="color:#0276FD">Publisher: <span id="book-publisher" style="color:black"></span></p>
                    <p style="color:#0276FD">ISBN: <span id="book-ISBN" style="color:black"></span></p>
                    <p style="color:#0276FD">Genre: <span id="book-genre" style="color:black"></span></p>
                    <div class="ui hidden divider"></div>
                    <p style="color:Red">Status:  <span id="book-status" style="color:black"></span><span id="book-copies"></span></p>
                    </div>
                    <div class="ui column">
                    <p style="color:#0276FD">Language: <span id="book-language" style="color:black"></span></p>
                    <p style="color:#0276FD">Format: <span id="book-format" style="color:black"></span></p>
                    <p style="color:#0276FD">Pages: <span id="book-pages" style="color:black"></span></p>

                    </div>
                  </div>
                </div>
              </div>

                <form action="{% url 'dashboards:user_dashboard' %}" method="POST" id="form1" >
                    {% csrf_token %}
                    <input type="hidden" id="book_name" name="book_name" value="">
                </form>
                <form action="{% url 'dashboards:user_dashboard' %}" method="POST" id="form2" >
                    {% csrf_token %}
                    <input type="hidden" id="book_name2" name="book_name2" value="">
                </form>
              {% if user.is_authenticated %}
              <div class="actions">

                <p id="message"></p>
                <div class="ui black deny button">
                  Back
                </div>
                  <button  type="submit" form="form1" class="ui center aligned positive right labeled icon button" id="status" name="">
                    Reserve
                  <i class="checkmark icon"></i>
                  </button>

                  <a href="" id="link" class="link" style="color: white; text-decoration: none">
                      <div class="ui center aligned positive right labeled icon button" id="status_reserved">
                        Reach Out
                      <i class="checkmark icon"></i>
                      </div>
                  </a>
                  <button  type="submit" form="form2" class="ui center aligned positive right labeled icon button" id="waiting" name="">
                    Add to waiting list
                  <i class="checkmark icon"></i>
                  </button>
              </div>
              {% else %}

                  <a style="margin-right: 25px" href="{% url 'users:register' %}" class="ui center aligned positive right floated labeled icon button" id="status_reserved">
                        Sign up to Borrow/Reserve books

                  </a>
              {% endif %}
        </div>


        </div>

        <div class="ui right aligned container" style="margin-bottom: 20px; margin-top: -10px">
            <div class="ui inverted pagination menu" style="margin-bottom: 20px">
                {% if books.has_previous %}
                    <!--<a href="?page=1">&laquo; first</a>-->
                    <a href="?page={{ books.previous_page_number }}" class="ui item"><i class="angle double left icon"></i></a>
                {% endif %}

                <div class="ui item">
                    Page {{ books.number }} / {{ books.paginator.num_pages }}
                </div>

                {% if entries.has_next %}
                    <a href="?page={{ books.next_page_number }}" class="ui item" ><i class="angle double right icon"></i></a>
                    <!--<a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>-->
                {% endif %}
            </div>
        </div>
    </div>

    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
	<style type="text/css">
		body {
			background: url(../../static/img/library-849797_1920.jpg) !important;
			opacity: 1;
		}
	</style>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $('.menu .browse').popup({
            inline     : true,
            hoverable  : true,
            position   : 'bottom left',
            delay: {
              show: 300,
              hide: 800
            }
          })
        ;
        $('.dmt').on('click', function () {

            $('.ui.modal').modal('show');
            $("#book-img").attr("src",$(this).data('img'));
            $('#book-name').html($(this).data('title'));
            $('#book-author').html($(this).data('author'));
            $('#book-publisher').html($(this).data('publisher'));
            $('#book-ISBN').html($(this).data('isbn'));
            $('#book-genre').html($(this).data('subject'));
            $('#book-language').html($(this).data('language'));
            $('#book-pages').html($(this).data('pages'));
            $('#book-format').html($(this).data('format'));
            $('#book-status').html($(this).data('status'));

            // reservation system
            if($(this).data('status') === 'Available'){
                $('.ui.center.aligned.positive.right.labeled.icon.button').show();
                $("#link").hide();
                $("#waiting").hide();
                $('#status_reserved').hide();
                $('#status').attr("name", "reserve");
                $('#message').html('Would you like to reserve this book? ');
                $("#book_name").attr("value",$(this).data('book'));

            }else if ($(this).data('status') === 'Reserved') {
                $("#waiting").show();
                $('#status').hide();
                $("#link").hide();
                $('#message').html('Currently reserved....Check again after 24 hours');
                $('#waiting').attr("name", "waiting");
                $("#book_name2").attr("value",$(this).data('book'));
            }else{
                $("#waiting").hide();
                $(".link").show();
                $('#status').hide();
                $('#status_reserved').show();
                $("#link").attr("href","tel:0" + $(this).data('number'));
                $('#message').html('Would you like to call the borrower?');

            }
        });
    </script>
{% endblock scripts %}